[Unit]
Description=OpenMachineMonitoring frontend service
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/your/frontend/
ExecStart=npm run dev -- --host
Restart=always

[Install]
WantedBy=multi-user.target
